* {
  box-sizing: border-box;
}

/* ================
  CHEF CLAUDE PROJECT
================= */
body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #fafaf8;
}

header {
  display: flex;
  height: 111px;
  padding: 24px 16px;
  justify-content: center;
  align-items: center;
  background: #fff;

  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

header > img {
  width: 43px;
  height: 52px;
  flex-shrink: 0;
  margin-right: 11px;
}

header > h1 {
  color: #141413;
  font-size: 32px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.6px;
}

main {
  padding: 0 30px;
}

main > form {
  /* padding-bottom: 75px; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 67px;
}

form > input {
  padding: 9px 13px;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 499px;
  margin-right: 12px;
}

form > button {
  width: 150px;
  padding: 9px 17px;
  justify-content: center;
  border-radius: 6px;
  background: #141413;
  color: #fafaf8;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
}

ul.ingredients-list {
  margin-bottom: 48px;
}

ul.ingredients-list > li {
  color: #475467;
  line-height: 28px;
}

.get-recipe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: #f0efeb;
  padding: 10px 28px;
}

.get-recipe-container h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 24px;
}

.get-recipe-container p {
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 20px;
}

.get-recipe-container button {
  border: none;
  border-radius: 6px;
  background: #d17557;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: #fafaf8;
  padding: 9px 17px;
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  cursor: pointer;
}

/* ================
  useState
================= */
/* 
body {
  background-color: #0c4a6e;
  margin: 0;
  font-family: "Inter", sans-serif;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  width: 200px;
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 350px;
}

.card .avatar {
  width: 100%;
  padding: 10%;
  padding-bottom: 0;
}

.card .name {
  margin-block: 13px;
  color: #333333;
}

.card .info {
  padding: 10px;
}

.card .favorite {
  width: 25px;
  cursor: pointer;
}

.card .contact {
  font-size: 0.75rem;
  color: gray;
  margin-block: 7px;
}

.card .favorite-button {
  border: none;
  background: transparent;
}

.card .favorite-button:active {
  transform: none;
  box-shadow: none;
} */

/* ================
  FORM
================= */
/* body {
  margin: 0;
  padding: 10px;
  background-color: #2dd4bf;
  color: #262626;
}

h1 {
  text-align: center;
}

form {
  padding-inline: 40px;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 4px;
}

input[type="email"],
input[type="password"] {
  border-radius: 100px;
  border: 1px solid #0d9488;
  height: 2rem;
  text-indent: 10px;
  margin-bottom: 20px;
}

textarea {
  margin-bottom: 20px;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 10px;
}

fieldset {
  border: 1px solid #262626;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

button {
  border-radius: 100px;
  border: 1px solid #0d9488;
  padding: 10px 30px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.1s ease-in-out;
}

button:hover {
  background-color: #115e59;
  border-color: #042f2e;
  color: white;
} */
